body{
    background-color: #5C5A59;
}

.rec-orange{
    background-color: #E88D67;
    height: 50px;
    width: 503px;
    margin-bottom:57px ;
}
.rec-orange1{
    background-color: #E88D67;
    height: 50px;
    width: 503px;
    display: block;
    margin-bottom: 57px;
}
.section{
    background-color: #F3F7EC;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 20vh;
}

.flex-container-section1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.title-section1{
    color:  #5C5A59;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 8vh;
    padding-left:0.5vh ;
    padding-right:0.5vh ;
    margin-bottom: 0;
}
.myCircle{
    background-color: #5C5A59;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5vh;
    margin-top: 2vh;
    min-width: 35px;
}

.keyboard-image{
    height: 400px;
    object-fit:contain;
    width: 80%;
    padding-left: 5%;
    transform: scale(1.2);
    margin-bottom: 10%;
}

.profile-photo{
    display: inline-block;
    height: 446px;
    width: 446px;
    border:7px solid #E88D67;
    margin-left: 57px;
    justify-self: flex-start;
}   
.external-block-section2{
    float:right;
    margin-right: 14%;
    background-color:#F3F7EC;
    height: 380px;
    width: 55%;
    min-width: 300px;
    border: 5px solid #5C5A59;
    border-right: 15vh solid #5C5A59;
}


.flex-container-section2{
display: flex;
flex-wrap: wrap;
}
.large-flex-block-section2{
    margin-left: 5vh;
    margin-right: 5vh;
    min-width: 300px;
}
.flex-right-block-section2{
    height: fit-content;
    min-height: 380px;
    min-width: 300px;
    border: 5px solid #5C5A59;
    border-right: 10vh solid #5C5A59;
}
.text-in-card{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: bolder;
    margin-left: 3%;
    margin-top: 3%;
    color:  #5C5A59;
}

.small-flex-block{
    margin-top: 67px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap:6vh;
    margin-bottom: 20vh;
}
.card-title{
    background-color: #5C5A59;
    height: 10vh;
    color: #F3F7EC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
    padding-top: 3vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
.card-item{
    border: 5px solid #5C5A59;
    color:#5C5A59;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
    padding-top: 7vh;
}

.contact-me{
    font-size: 5vh; 
    padding-top: 2vh;
    margin-bottom: 70px;
}

.position-rec{
    position: relative;
    right: 565px;
}

.contact-info{
    border-left: 10vh solid #5C5A59;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    line-height:10vh;
    color:#5C5A59;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: bolder;
    text-align: left;
}

.footer{
    background-color: #5C5A59;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.flex-footer{
    width: 35%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

@media (max-width:1223px){
    .myCircle{
        display: none;
    }
    .flex-right-block-section2{
    margin-top: 3%;
    }
    .small-flex-block{
        column-gap:1vh;
    }
    .position-rec{
        position: relative;
        right: 57px;
    }
    
}